<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
  </head>
  <body>
        <h1>Detalles de medico</h1>
        <ul>
            <li> Nombre: {{med.nombre}}</li>
            <li> Apellido: {{med.apellidos}}</li>
            <li> Tipo Identificacion: {{med.tipo_identificacion}}</li>
            <li> Numero Identificacion: {{med.numero_identificacion}}</li>
            <li> Registro Medico: {{med.registro_medico}}</li>
            <li> Especialidad: {{med.especialidad}}</li>
        </ul>



  </body>  
