<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
  </head>
  <body>
        <h1>Detalles de paciente</h1>
        <ul>
            <li> Nombre: {{pac.nombre}}</li>
            <li> Apellido: {{pac.apellidos}}</li>
            <li> Tipo Identificacion: {{pac.tipo_identificacion}}</li>
            <li> Numero Identificacion: {{pac.numero_identificacion}}</li>
            <li> Altura: {{pac.altura}}</li>
            <li> Tipo sangre: {{pac.tipo_sangre}}</li>
        </ul>



  </body>  